numpy
omegaconf
msgspec
rouge-score
sacrebleu
sentencepiece
tiktoken
fsspec
blobfile
wandb
viztracer
# lm-eval
git+https://github.com/new5558/lm-evaluation-harness-lanta
scipy
pynvml
datatrove
orjson
